<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="creativelizard.creative_scanner">
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".BarcodeScannerActivity" />
        <activity android:name=".ContinuousCaptureActivity"/>
    </application>
</manifest>
